@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    font-size: calc(1em + 1vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
}

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background-color: #E6F4F1;
  display: flex;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
}


.logo {
    width: 50%;
    height: 50%;
}

.modal-button {
    background-color: #CD853F;
    color: #E6F4F1;
    font-family: "Pacifico", sans-serif;
    border-radius: 0.25rem;
    margin-top: 20%;
    margin-bottom: 2%;
    padding: 7px 7px;
    letter-spacing: 2px;
    border: 7px solid #C76302;
}

.modal-button:hover {
    background-color: #D2B48C;
    letter-spacing: 2px;
}


.btn:focus {
    box-shadow: none;
}

.modal-design {
    background-color: #CD853F;
    color: #fafafa;
    font-family: "Pacifico", sans-serif;
    letter-spacing: 2px;
}

.close-style {
    background-color: #5f9ea0;
}

.submit-style {
    background-color: #5f9ea0;
    font-family: "Pacifico", sans-serif;
    letter-spacing: 2px;
    width: 100%;
}

.modal-text {
    font-family: sans-serif;
}

@media (min-width: 576px) {
.modal-size {
    max-width: 80%;
    margin: 1.75rem auto;
    }
}


@media (min-width: 1000px) {
.modal-button {
    margin-top: 10%;
    }
}

.container-wrapper {
  background-color: #5f9ea0;
  padding-top: 15%;
  padding-bottom: 10%;
}

.jumbotron-header {
    font-family: "Pacifico", sans-serif;
    color: #E6F4F1;
    margin-top: 10%;
    margin-bottom: 5%;
    letter-spacing: 2px;
}


.select-buttons {
    background-color: #CD853F;
    color: #E6F4F1;
    font-family: "Pacifico", sans-serif;
    width: 100%;
    border-radius: 0.25rem;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 7px 7px;
    letter-spacing: 2px;
    border: 7px solid #C76302;
}

.select-buttons:focus {
    box-shadow: none;
}

.go-button {
    background-color: #CD853F;
    color: #E6F4F1;
    font-family: "Pacifico", sans-serif;
    border-radius: 50%;
    padding: 15px 15px;
    margin-top: 10%;
    letter-spacing: 2px;
    height: 5rem;
    width: 5rem;
    border: 7px solid #C76302;
}

.select-buttons:hover {
    background-color: #D2B48C;
    letter-spacing: 2px;
}


.go-button:hover {
    background-color: #D2B48C;
    letter-spacing: 2px;
}


.footer {
  background: #E6F4F1;
  padding: 20px 0px;
  color: #C76302;
  width: 100%;
  letter-spacing: 2px;
}

.footer h2 {
  font-family: "Pacifico", sans-serif;
  font-size: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #C76302;
  letter-spacing: 2px;
}

.website-address {
  letter-spacing: 2px;
  font-size: 20px;
}

.footer ul li {
  margin: 5px 0px;
}

.footer-sub-text {
  font-family: "Pacifico", sans-serif;
  letter-spacing: 2px;
}

.decoration {
    text-decoration: none;
    color: #C76302;
    letter-spacing: 2px;
}

.decoration:hover {
    text-decoration: none;
    color: #5f9ea0;
}


.site-decoration {
    text-decoration: none;
    color: #C76302;
    letter-spacing: 2px;
}

.site-decoration:hover {
    text-decoration: none;
    color: #5f9ea0;
}

.social-links a:hover {
  color: #5f9ea0;
}

.social-links li a {
  color: #C76302;
  font-size: 200%;
}



/*Mediataion Page*/


.hideMe {
    display: none;
}

.hide {
    visibility: hidden;
}

.app {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}


.base-timer {
	position: relative;
	height: 300px;
	width: 300px;
    margin: auto;
}


.base-timer__label {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
    margin-top: 30%;
    color: #8B4513;
}

@media (orientation: landscape) {
    .base-timer__label {
        margin-top: 0;
    }
}


.base-timer__svg {
  transform: scaleX(-1);
}



.season-image-size {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  display: flex;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.myBtn {
  width: auto;
  font-size: 100%;
  padding: 2%;
  bottom: auto;
  font-family: "Pacifico", sans-serif;
  background: #CD853F;
  color: #fff;
  position: relative;
  margin: 3%;
  margin-bottom: 10%;
  letter-spacing: 2px;
  border: 7px solid #C76302;
}


.myBtn:hover{
  color: #000000;
  background-color: #D2B48C;
  text-decoration: none;
}


@media (min-width: 976px) {
    .myBtn {
        margin-bottom: 5%;
    }
}

@media (orientation: landscape) {
    .myBtn {
        margin-bottom: 2%;
    }
}

@media (max-width: 580px) {
    .small-screen-hide {
        display: none;
    }
}

@media (min-width: 580px) {
    .small-screen-show {
        display: none;
    }
}

@media (max-width: 580px) {
    .myBtn {
        margin-bottom: 15%;
    }
}

@media (max-width: 400px) {
    .myBtn {
        margin-bottom: 20%;
    }
}


.fixed-bottom {
    bottom: 3rem;
}

.text-input {
  font-family: "sans-serif";
  background-color: #fafafa;
  color: #000000;
  width: 100%;
  height: 40px;
  margin: 5px 0px 20px 0px;
  border: 5px solid #5f9ea0;
}

.form-margin {
  margin-top: 2%;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

.message-input {
  font-family: "sans-serif";
  background-color: #fafafa;
  color: #000000;
  margin: 5px 0px 20px 0px;
  border: 5px solid #5f9ea0;
  display: block;
  width: 100%;
}