/*--Fonts for my text content--*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*--Resizes all my text on all screen sizes--*/
html {
	font-size: calc(1em + 1vw);
}

/*--Helps with creating a responsive layout--*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--Height of the body element--*/
body {
	height: 100vh;
}

/*--Position of the container for the navbar--*/
.navalert-container {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
	z-index: 1;
	display: flex;
}

/*--Allows the navbar to scroll with the page on low height screens--*/
@media (max-height: 580px) {
	.navalert-container {
		position: absolute;
	}
}

/*--Navbar styling--*/
.navbar {
	margin-bottom: 0;
	border: 0;
	width: 100%;
	background: rgb(95, 158, 160);
	background: linear-gradient(0deg, rgba(95, 158, 160, 1) 0%, rgba(230, 244, 241, 1) 35%);
}

/*--Position of the logo in the navbar--*/
.logo {
	width: 50%;
	height: 50%;
}

/*--Increasing the size of the logo on smaller width screens--*/
@media (max-width: 767px) {
	.logo {
		width: 70%;
		height: 70%;
	}
}

/*--Main container styling--*/
.container-wrapper {
	background-color: #5f9ea0;
	padding-top: 15%;
	padding-bottom: 10%;
}

/*--Select time and select season headers--*/
.jumbotron-header {
	font-family: "Pacifico", sans-serif;
	color: #E6F4F1;
	margin-top: 10%;
	margin-bottom: 5%;
	letter-spacing: 2px;
}


/*--ALL MODAL STYLING--*/
/*--Modal button styling--*/
.modal-button {
	background-color: #CD853F;
	color: #E6F4F1;
	font-family: "Pacifico", sans-serif;
	border-radius: 0.25rem;
	margin-top: 20%;
	margin-bottom: 2%;
	padding: 7px 7px;
	letter-spacing: 2px;
	border: 7px solid #C76302;
}

/*--Modal button styling for hover--*/
.modal-button:hover {
	background-color: #D2B48C;
	letter-spacing: 2px;
	color: #8B4513;
}

/*--Removing the button shadow--*/
.btn:focus {
	box-shadow: none;
}

/*--Modal styling--*/
.modal-design {
	background-color: #CD853F;
	color: #E6F4F1;
	font-family: "Pacifico", sans-serif;
	letter-spacing: 2px;
}

/*--Modal close button styling--*/
.close-style {
	background-color: #5f9ea0;
}

/*--Modal submit button styling--*/
.submit-style {
	background-color: #5f9ea0;
	font-family: "Pacifico", sans-serif;
	letter-spacing: 2px;
	width: 100%;
}

/*--Modal text font--*/
.modal-text {
	font-family: sans-serif;
}

/*--Modal size for larger width screens--*/
@media (min-width: 576px) {
	.modal-size {
		max-width: 80%;
		margin: 1.75rem auto;
	}
}

/*--Modal button top margin change on larger width screens--*/
@media (min-width: 1000px) {
	.modal-button {
		margin-top: 10%;
	}
}


/*--LANDING PAGE BUTTONS--*/
/*--Time and season button styling--*/
.select-buttons {
	background-color: #CD853F;
	color: #E6F4F1;
	font-family: "Pacifico", sans-serif;
	width: 100%;
	border-radius: 0.25rem;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 7px 7px;
	letter-spacing: 2px;
	border: 7px solid #C76302;
}

/*--Removed the shadow from the time and season buttons--*/
.select-buttons:focus {
	box-shadow: none;
}

/*--Go button styling--*/
.go-button {
	background-color: #CD853F;
	color: #E6F4F1;
	font-family: "Pacifico", sans-serif;
	border-radius: 50%;
	padding: 15px 15px;
	margin-top: 10%;
	letter-spacing: 2px;
	height: 5rem;
	width: 5rem;
	border: 7px solid #C76302;
}

/*--Time and season buttons styling for hover--*/
.select-buttons:hover {
	background-color: #D2B48C;
	letter-spacing: 2px;
	color: #8B4513;
}

/*--Go button styling for hover--*/
.go-button:hover {
	background-color: #D2B48C;
	letter-spacing: 2px;
	color: #8B4513;
}


/*--FOOTER--*/
/*--Footer styling--*/
.footer {
	background: rgb(230, 244, 241);
	background: linear-gradient(0deg, rgba(230, 244, 241, 1) 80%, rgba(95, 158, 160, 1) 100%);
	padding: 20px 0px;
	color: #C76302;
	width: 100%;
	letter-spacing: 2px;
}

.footer h2 {
	font-family: "Pacifico", sans-serif;
	font-size: 100%;
	margin-bottom: 10px;
	margin-top: 15px;
	color: #C76302;
	letter-spacing: 2px;
}

.website-address {
	letter-spacing: 2px;
	font-size: 20px;
}

.footer ul li {
	margin: 5px 0px;
}

.footer-sub-text {
	font-family: "Pacifico", sans-serif;
	letter-spacing: 2px;
}

.decoration {
	text-decoration: none;
	color: #C76302;
	letter-spacing: 2px;
}

.decoration:hover {
	text-decoration: none;
	color: #5f9ea0;
}

.site-decoration {
	text-decoration: none;
	color: #C76302;
	letter-spacing: 2px;
}

.site-decoration:hover {
	text-decoration: none;
	color: #5f9ea0;
}

.social-links a:hover {
	color: #5f9ea0;
}

.social-links li a {
	color: #C76302;
	font-size: 200%;
}


/*MEDITATION PAGE*/
/*--This hides all of the landing page content when the meditation page loads--*/
.hideMe {
	display: none;
}

/*--This hides the meditation page content when the landing page loads--*/
.hide {
	visibility: hidden;
}

/*--Meditation page position--*/
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/*--Meditation page background image styling--*/
.season-image-size {
	object-fit: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	display: flex;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*--COUNTDOWN TIMER--*/
/*--Div position that holds the countdown timer--*/
.base-timer {
	position: relative;
	height: 300px;
	width: 300px;
	margin: auto;
}

/*--Countdown timer styling--*/
.base-timer__label {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	margin-top: 30%;
	color: #8B4513;
}

/*--Countdown timer top margin change in landscape view--*/
@media (orientation: landscape) {
	.base-timer__label {
		margin-top: 0;
	}
}


/*--MEDITATION PAGE BUTTONS--*/
/*--Function control buttons styling--*/
.myBtn {
	width: auto;
	font-size: 100%;
	padding: 2%;
	bottom: auto;
	font-family: "Pacifico", sans-serif;
	background: #CD853F;
	color: #E6F4F1;
	position: relative;
	margin: 3%;
	margin-bottom: 10%;
	letter-spacing: 2px;
	border: 7px solid #C76302;
}

/*--Function control buttons styling for hover--*/
.myBtn:hover {
	color: #8B4513;
	background-color: #D2B48C;
	text-decoration: none;
}

/*--Function control buttons bottom margin change on larger width screens--*/
@media (min-width: 976px) {
	.myBtn {
		margin-bottom: 5%;
	}
}

/*--Function control buttons bottom margin change on landscape view--*/
@media (orientation: landscape) {
	.myBtn {
		margin-bottom: 2%;
	}
}

/*--Changes the position of the main menu button on smaller width screens--*/
@media (max-width: 580px) {
	.small-screen-hide {
		display: none;
	}
}

/*--Changes the position of the main menu button on larger width screens--*/
@media (min-width: 580px) {
	.small-screen-show {
		display: none;
	}
}

/*--Function control buttons bottom margin change on smaller width screens--*/
@media (max-width: 580px) {
	.myBtn {
		margin-bottom: 15%;
	}
}

/*--Function control buttons bottom margin change on smaller width screens--*/
@media (max-width: 400px) {
	.myBtn {
		margin-bottom: 20%;
	}
}

/*--Function control buttons positioning--*/
.fixed-bottom {
	bottom: 3rem;
}


/*--CONTACT FORM MODAL--*/
/*--Contact form text fields styling--*/
.text-input {
	font-family: "sans-serif";
	background-color: #E6F4F1;
	color: #000000;
	width: 100%;
	height: 40px;
	margin: 5px 0px 20px 0px;
	border: 5px solid #5f9ea0;
}

/*--Contact form top margin--*/
.form-margin {
	margin-top: 2%;
}

/*--Contact form message header--*/
label {
	display: inline-block;
	margin-bottom: 0;
}

/*--Contact form message input styling--*/
.message-input {
	font-family: "sans-serif";
	background-color: #E6F4F1;
	color: #000000;
	margin: 5px 0px 20px 0px;
	border: 5px solid #5f9ea0;
	display: block;
	width: 100%;
}

/*--Contact form colour--*/
.body-color {
	background-color: #CD853F;
}


/*--404 PAGE--*/
/*--404 page styling--*/
.page-not-found-header {
	font-family: "Pacifico", sans-serif;
	color: #E6F4F1;
	margin-top: 10%;
	letter-spacing: 2px;
}

.page-not-found-text {
	font-family: "Sans-serif";
	color: #E6F4F1;
	margin: 10% 5% 5% 5%;
	letter-spacing: 2px;
}

.page-not-found-button {
	background-color: #5f9ea0;
	font-family: "Pacifico", sans-serif;
	letter-spacing: 2px;
	width: 50%;
	text-align: center;
	margin-top: 10%;
}
