@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    font-size: calc(1em + 1vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
}

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background-color: #d3d3d3;
  display: flex;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
}


.logo {
    width: 50%;
    height: 50%;
}

.container-wrapper {
  background-color: #5f9ea0;
  padding-top: 15%;
  padding-bottom: 10%;
}

.jumbotron-header {
    font-family: "Pacifico", sans-serif;
    color: #fafafa;
    margin-top: 10%;
    margin-bottom: 5%;
}

.select-buttons {
    background-color: #CD853F;
    color: #fafafa;
    font-family: "Pacifico", sans-serif;
    width: 100%;
    border-radius: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.round-button {
    background-color: #CD853F;
    color: #fafafa;
    font-family: "Pacifico", sans-serif;
    margin-top: 10%;
}


.footer {
  background: #5f9ea0;
  padding: 20px 0px;
  color: #fafafa;
  width: 100%;
}

.footer h2 {
  font-weight: 700;
  font-family: "Pacifico", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #fafafa;
}

.website-address {
  letter-spacing: 2px;
  font-size: 20px;
}

.footer ul li {
  margin: 5px 0px;
}

.footer-sub-text {
  font-family: "Pacifico", sans-serif;
}

.decoration {
    text-decoration: none;
    color: #fafafa;
}

.site-decoration {
    text-decoration: none;
    color: #fafafa;
}

.social-links a:hover {
  color: #ffaa00;
}

.social-links li a {
  color: #cd853f;
  font-size: 200%;
}

/* ------------------------------Phone Number Link Decoration--------------------------------- */
a[href^="tel"] {
  text-decoration: none;
  color: #fafafa;
}






/*Mediataion Page*/


.hideMe {
    display: none;
}

.hide {
    visibility: hidden;
}

.app {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}


.base-timer {
	position: relative;
	height: 300px;
	width: 300px;
    margin: auto;
}







.base-timer__label {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100px;
    margin-top: 25vh;
    color: #fafafa;
}



.base-timer__svg {
  transform: scaleX(-1);
  margin-top: 25vh;
}



.season-image-size {
  object-fit: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}




.myBtn {
  width: auto;
  font-size: 100%;
  padding: 2%;
  bottom: auto;
  border: none;
  font-family: "Pacifico", sans-serif;
  background: #CD853F;
  opacity: 0.9;
  color: #fff;
  position: relative;
  margin: 5%;
}

.myBtn:hover {
  background: #ddd;
  color: black;
}