@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    font-size: calc(1em + 1vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background-color: #d3d3d3;
  display: flex;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
}


.logo {
    width: 50%;
    height: 50%;
}

.container-wrapper {
  background-color: #5f9ea0;
  padding-top: 15%;
  padding-bottom: 10%;
}

.jumbotron-header {
    font-family: "Pacifico", sans-serif;
    color: #fafafa;
    margin-top: 10%;
    margin-bottom: 5%;
}

.select-buttons {
    background-color: #CD853F;
    color: #fafafa;
    font-family: "Pacifico", sans-serif;
    width: 100%;
    border-radius: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.round-button {
    background-color: #CD853F;
    color: #fafafa;
    font-family: "Pacifico", sans-serif;
    margin-top: 10%;
}


.footer {
  background: #5f9ea0;
  padding: 20px 0px;
  color: #fafafa;
  width: 100%;
}

.footer h2 {
  font-weight: 700;
  font-family: "Pacifico", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #fafafa;
}

.website-address {
  letter-spacing: 2px;
  font-size: 20px;
}

.footer ul li {
  margin: 5px 0px;
}

.footer-sub-text {
  font-family: "Pacifico", sans-serif;
}

.decoration {
    text-decoration: none;
    color: #fafafa;
}

.site-decoration {
    text-decoration: none;
    color: #fafafa;
}

.social-links a:hover {
  color: #ffaa00;
}

.social-links li a {
  color: #cd853f;
  font-size: 200%;
}

/* ------------------------------Phone Number Link Decoration--------------------------------- */
a[href^="tel"] {
  text-decoration: none;
  color: #fafafa;
}






/*Spring html*/



.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Pacifico", sans-serif;
    background-color: black;
}



.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative; 
}

.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.time-display {
    position: absolute;
    bottom: 10%;
    color: #fafafa;
    font-size: 50px;
}








.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}


.vid-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
}


.hideMe {
    display: none;
}