@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    font-size: calc(1em + 1vw);
}

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background-color: #d3d3d3;
  display: flex;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
}


.logo {
    width: 50%;
    height: 50%;
}

.container-wrapper {
  background-color: #5f9ea0;
  padding-top: 15%;
  padding-bottom: 20%;
}

.jumbotron-header {
    font-family: "Pacifico", sans-serif;
    color: #fafafa;
    margin-top: 10%;
    margin-bottom: 5%;
}

.select-buttons {
    background-color: #CD853F;
    color: #fafafa;
    font-family: "Pacifico", sans-serif;
    width: 100%;
    border-radius: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.round-button {
    border-radius: 50%;
    background-color: #CD853F;
    color: #fafafa;
    font-family: "Pacifico", sans-serif;
    margin-top: 10%;
}


.footer {
  background: #5f9ea0;
  padding: 20px 0px;
  color: #fafafa;
}

.footer h2 {
  font-weight: 700;
  font-family: "Pacifico", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #fafafa;
}

.website-address {
  letter-spacing: 2px;
  font-size: 20px;
}

.footer ul li {
  margin: 5px 0px;
}

.footer-sub-text {
  font-family: "Pacifico", sans-serif;
}

.decoration {
    text-decoration: none;
    color: #fafafa;
}

.site-decoration {
    text-decoration: none;
    color: #fafafa;
}

.social-links a:hover {
  color: #ffaa00;
}

.social-links li a {
  color: #cd853f;
  font-size: 200%;
}

/* ------------------------------Phone Number Link Decoration--------------------------------- */
a[href^="tel"] {
  text-decoration: none;
  color: #fafafa;
}